	body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            background-color: #A52A2A; /* Background color of the header */
            color: #fff; /* Text color in the header */
            padding: 0px; /* Padding around the header */
            display:flex; /* Enable flexbox layout for header i.e positioning of the elements(Logo, Home,Manpower, Materials, etc) */
            flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
            align-items: center; /* Center items vertically in the header */
            margin: 0px;
            border: 0px;
        }
        
        h1, h2 {
            color: #333;
        }

        .profile {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
        }

        .profile div {
            flex: 1;
            margin: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            text-align: center;
        }


        img {
            max-width: 100%;
            height: auto;
        }
